<section class="pt-[70px] md:px-[80px] px-[20px]">
    <div class="grid grid-cols-2">
        <div class="flex justify-left">
            <img src="../../assets/images/_Avatar_.svg" alt="">
        </div>
        <div class="flex justify-center items-end gap-[60px]">
            <a class="text-[14px] font-[700] leading-[20px]" href="mailto:info@africarenewables.energy">info@africarenewables.energy</a>
            <a href=""><i class="fa-brands fa-linkedin text-[#1D3E5B] "></i></a>
            <a href=""><i class="fa-brands fa-instagram text-[#1D3E5B] "></i></a>
            <a href=""><i class="fa-brands fa-twitter text-[#1D3E5B]"></i></a>
        </div>
    </div>
    <p class="my-8 text-center gap-[20px] text-[12px] font-[700] leading-[20px]"><i class="fa-regular fa-copyright"></i> Africa Renewables Katalyst Private Limited 2024</p>
</section>