<section class="xl:pt-[70px] pt-0 md:px-[80px] 2xl:px-[700px] px-[20px]">
    <div class="grid xl:grid-cols-3 grid-cols-1 xl:gap-0 gap-[20px] my-8">
        <div class="flex xl:justify-start justify-center xl:items-start items-center">
            <img src="./assets/images/icon-logo.svg" alt="">
        </div>
        <div class="flex justify-center items-center xl:text-[12px] md:text-[10px] text-[8px] manrope font-[700] leading-[20px]"><i class="fa-regular fa-copyright"></i> Africa Renewables Katalyst Private Limited 2024</div>
        <div class="flex justify-center items-center gap-[30px]">
            <a class="xl:text-[14px] md:text-[12px] text-[10px] font-[700] manrope leading-[20px] hover:text-[#5BC773]" href="mailto:info@africarenewables.energy">info@africarenewables.energy</a>
            <a href="https://www.linkedin.com/company/africa-renewable-katalyst-ark/"><i class="fa-brands fa-linkedin text-[#0B1914] hover:text-[#5BC773]"></i></a>
            <a href=""><i class="fa-brands fa-instagram text-[#0B1914] hover:text-[#5BC773]"></i></a>
            <a href="https://twitter.com/Katalyst_ARK"><i class="fa-brands fa-twitter text-[#0B1914] hover:text-[#5BC773]"></i></a>
        </div>
    </div>
</section>