<section class="grid md:grid-cols-2 grid-cols-1 py-[70px] md:px-[80px] px-[20px]">
    <div class="flex justify-center items-center">
        <img src="../../assets/images/Sun energy-bro 1.svg" class="animate-pulse" alt="">
    </div>
    <p class="flex text-[20px] font-[400] leading-[34px] bg-[#D9D9D9] px-[28px] rounded-[5px] problem justify-center items-center">Globally, Africa holds 60% potential of solar energy. That is enough solar power to be consumed throughout the world in the decades to come. Sadly, Africa has only tapped into 1% of its solar energy potential. Even sadder, 80.3% of Africa’s population lacks access to electricity. We believe in providing necessary and innovative solutions to catalyze the adoption and actualisation of solar energy in Africa.</p>
</section>