<section>
    <app-navbar></app-navbar>
    <div class="grid md:grid-cols-2 grid-cols-1 py-[70px] md:px-[80px] px-[20px]">
        <div class="flex flex-col gap-[52px] justify-center">
            <p class="text-[54px] font-[700]">Be Part of the Solution</p>
            <p class="text-[20px] font-[400]">Africa Renewables Katalyst gives you a chance to Invest in Clean Energy with I-RECs for African Solar Mini-Grids</p>
            <div class="flex gap-[20px]">
                <a href="" class="text-[16px] font-[600] flex justify-center items-center py-2 px-6 rounded-[10px] btn-register">Register a Plant</a>
                <a href="" class="text-[16px] font-[600] flex justify-center items-center py-2 px-6 rounded-[10px] btn-buy">Buy I-RECs</a>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <img src="../../assets/images/Hero image.svg" alt="">
        </div>
    </div>
</section>