<section>
    <div class="grid md:grid-cols-2 grid-cols-1 xl:py-[70px] md:py-[20px] py-[15px] md:px-[80px] 2xl:px-[700px] px-[20px]">
        <div class="flex flex-col xl:gap-[52px] md:gap-[20px] gap-[10px] justify-center">
            <p class="xl:text-[60px] md:text-[30px] text-[20px] ibm-plex-sans font-[700] leading-auto md:text-left text-center">Improve your <br> mini-grids’ ROI</p>
            <p class="xl:text-[20px] md:text-[18px] text-[16px] manrope font-[400] md:text-left text-center">Accelerate your solar projects ROI and Success by earning extra income in the I-REC and carbon markets.</p>
            <div class="flex md:justify-start justify-center items-center">
                <a routerLink="/get-started"  class="text-[16px] manrope font-[600] flex justify-center items-center gap-[10px] py-[16px] px-[21px] rounded-[10px] bg-[#0B1914] text-white hover:bg-[#5BC773]">Get started today <i class="fa-solid fa-arrow-right text-white"></i></a>
            </div>
        </div>
        <div class="order-first sm:order-last flex justify-center items-center animate-pulse">
            <img src="./assets/images/Hero image.svg" alt="">
        </div>
    </div>
</section>