
<nav class="flex bg-[transparent] items-center justify-between my-[20px] py-4 md:px-[80px] px-[20px]">
    <a href="/" class="text-2xl font-[900] no-underline text-white">
        <img src="./assets/images/Logo Dark.png" alt="">
    </a>

    <ul class="xl:flex md:hidden hidden items-center space-x-10 font-medium">
        <li class="text-dark manrope hover:text-[#5BC773] focus:text-[#5BC773] text-[20px] font-[700]"><a class="active:text-[#8c7dff]" href="/">What are I-RECs</a></li>
        <li class="text-dark manrope hover:text-[#5BC773] focus:text-[#5BC773] text-[20px] font-[700]"><a class="active:text-[#8c7dff]" href="/">How It Works</a></li>
        <li class="text-dark manrope hover:text-[#5BC773] focus:text-[#5BC773] text-[20px] font-[700]"><a class="active:text-[#8c7dff]" href="/">Requirements</a></li>
        <li class="text-dark manrope hover:text-[#5BC773] focus:text-[#5BC773] text-[20px] font-[700]"><a class="active:text-[#8c7dff]" href="/">Team</a></li>
        <li class="text-white gap-[10px] py-[10px] px-[21px] bg-[#0B1914] rounded-[10px] manrope hover:bg-[#5BC773] text-[16px] font-[500]"><a href="/">Get Started <i class="fa-solid fa-arrow-right"></i></a></li>
    </ul>

    <button (click)="toggleMobileMenu()" class="xl:hidden text-[20px] text-[#1D3E5B] focus:outline-none">
        <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
        />
        </svg>
    </button>

    <div
        *ngIf="showMobileMenu"
        class="fixed bg-[#F6F5F1] top-0 left-0 w-full z-40 h-screen px-[20px] py-4 overflow-y-auto xl:hidden"
    >
        <button (click)="toggleMobileMenu()" class="absolute top-4 right-4 text-[40px] text-[#1D3E5B]">
        &times;
        </button>
        <ul class="mt-8 space-y-4 text-lg font-medium flex flex-col justify-center items-center">
            <li class="text-dark manrope hover:text-[#5BC773] focus:text-[#5BC773] text-[16px] font-[700]"><a href="/">What are I-RECs</a></li>
            <li class="text-dark manrope hover:text-[#5BC773] focus:text-[#5BC773] text-[16px] font-[700]"><a href="/">How It Works</a></li>
            <li class="text-dark manrope hover:text-[#5BC773] focus:text-[#5BC773] text-[16px] font-[700]"><a href="/">Requirements</a></li>
            <li class="text-dark manrope hover:text-[#5BC773] focus:text-[#5BC773] text-[16px] font-[700]"><a href="/">Team</a></li>
            <li class="text-white w-1/2 flex justify-center gap-[10px] py-[10px] px-[21px] bg-[#0B1914] manrope hover:bg-[#5BC773] rounded-[10px] text-[14px] font-[500]"><a href="/">Get Started <i class="fa-solid fa-arrow-right"></i></a></li>
        </ul>
    </div>
</nav>