<div class="flex flex-col justify-center items-center gap-[100px] 2xl:py-[420px] xl:py-[90px] py-[70px] md:px-[80px] 2xl:px-[700px] px-[20px]">
    <div class="flex justify-center items-center">
        <a routerLink="/home">
            <img src="./assets/images/Logo Dark.png" alt="">
        </a>
    </div>
    <div class="flex xl:text-[48px] md:text-[30px] text-[20px] font-[400] ibm-plex-sans text-center">Form submitted successfully! <br> Our team will get in touch shortly.</div>
    <div class="flex justify-center items-center">
        <a routerLink="/home"  class="py-4 md:px-[49px] px-[20px] hover:bg-[#B2EB4B] text-center manrope rounded-[10px] xl:text-[20px] md:text-[18px] text-[16px] text-white font-[500] bg-[#5BC773]">Back to homepage</a>
    </div>
</div>