<div id="how-it-works" class="md:py-[40px] py-[10px] md:px-[80px] 2xl:px-[700px] px-[20px]">
    <p class="text-center ibm-plex-sans xl:text-[48px] md:text-[30px] text-[20px] font-[700] py-[59px]">How I-RECs Work</p>
    <div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-[40px]">
        <div class="flex flex-col gap-[20px]">
            <div class="flex justify-center items-center">
                <img src="./assets/images/sun 1.svg" alt="">
            </div>
            <p class="text-center ibm-plex-sans text-[#5BC773] xl:text-[28px] md:text-[24px] text-[18x] font-[700]">Energy Generation</p>
            <p class="text-center xl:text-[18px] md:text-[17px] text-[16px] manrope font-[400]">Your Solar, wind, hydro or other renewable energy powered mini-grid generates clean electricity that helps fight climate change.</p>
        </div>
        <div class="flex flex-col gap-[20px]">
            <div class="flex justify-center items-center">
                <img src="./assets/images/certificate 1.svg" alt="">
            </div>
            <p class="text-center ibm-plex-sans text-[#5BC773] xl:text-[28px] md:text-[24px] text-[18x] font-[700]">Certification</p>
            <p class="text-center xl:text-[18px] md:text-[17px] text-[16px] manrope font-[400]">Each unit (1 MWh) of this clean electricity creates an I-REC, a digital certificate proving its eco-friendly source.</p>
        </div>
        <div class="flex flex-col gap-[20px]">
            <div class="flex justify-center items-center">
                <img src="./assets/images/money-bag 1.svg" alt="">
            </div>
            <p class="text-center ibm-plex-sans text-[#5BC773] xl:text-[28px] md:text-[24px] text-[18x] font-[700]">Monetization</p>
            <p class="text-center xl:text-[18px] md:text-[17px] text-[16px] manrope font-[400]">Project owners can sell these I-RECs, allowing them to continue subsiding the operating costs of their mini-grids.</p>
        </div> 
    </div>
</div>