<div id="i-recs" class="grid md:grid-cols-2 grid-cols-1 py-[20px] md:px-[80px] 2xl:px-[550px] px-[20px]">
    <div class="flex justify-center items-center">
        <img src="./assets/images/IREC Certification.svg" alt="">
    </div> 
    <div class="flex flex-col xl:gap-[30px] md:gap-[18px] gap-[10px] justify-center">
        <p class="xl:text-[48px] md:text-[30px] text-[20px] ibm-plex-sans font-[700] leading-auto md:text-left text-center">What is an <br> I-REC Certificate</p>
        <p class="xl:text-[20px] md:text-[18px] text-[16px] manrope font-[400] md:text-left text-center">International Renewable Energy Certificates (IRECs) are tradable certificates that provide proof of the renewable nature of your mini-grids power sources.</p>
        <div class="flex md:justify-start justify-center items-center">
            <a href="https://forms.office.com/r/zSBFw9WkRj" target="_blank" class="text-[16px] animate-pulse manrope font-[500] flex justify-center items-center gap-[10px] py-[16px] px-[21px] rounded-[10px] bg-[#0B1914] text-white hover:bg-[#5BC773]">Learn More <i class="fa-solid fa-arrow-right text-white"></i></a>
        </div>
    </div>
</div>