<section class="py-[70px] md:px-[80px] px-[20px]">
    <div class="flex flex-col gap-[62px]">
        <p class="text-[54px] text-center font-[700]">Our Solution</p>
        <p class="text-center text-[20px] font-[400] leading-[36px]">Our comprehensive platform simplifies I-REC buying and selling for individuals and businesses. Whether you're a solar mini-grid developer seeking to monetize your renewable energy or an organization committed to sustainability.</p>
    </div>
    <div class="flex flex-col mt-[62px] gap-[44px]">
        <p class="text-[40px] text-center font-[600]">What We Offer</p>
        <div class="grid md:grid-cols-2 grid-cols-1">
            <p class="flex gap-[15px] items-center xl:my-[20px] md:my-[10px] my-[10px] text-[20px] font-[400] leading-[36px]"><i class="fa-solid fa-circle-chevron-right text-[#1D3E5B]"></i> Seamless I-REC registration and trading on the international platform.</p>
            <p class="flex gap-[15px] items-center xl:my-[20px] md:my-[10px] my-[10px] text-[20px] font-[400] leading-[36px]"><i class="fa-solid fa-circle-chevron-right text-[#1D3E5B]"></i> Access to a diverse pool of verified I-RECs from high-impact solar mini-grid projects.</p>
            <p class="flex gap-[15px] items-center xl:my-[20px] md:my-[10px] my-[10px] text-[20px] font-[400] leading-[36px]"><i class="fa-solid fa-circle-chevron-right text-[#1D3E5B]"></i> Real-time tracking and transparency throughout the trading process.</p>
            <p class="flex gap-[15px] items-center xl:my-[20px] md:my-[10px] my-[10px] text-[20px] font-[400] leading-[36px]"><i class="fa-solid fa-circle-chevron-right text-[#1D3E5B]"></i> Dedicated support and expertise to ensure a smooth and successful experience.</p>
        </div>
    </div>
</section>