<section class="py-[70px] md:px-[80px] 2xl:px-[550px] px-0">
   <div class="cta-bg flex flex-col md:gap-[40px] gap-[20px] md:rounded-[24px] rounded-0 bg-[#0B1914] py-[92px] md:px-[92px] px-[20px]">
    <p class="xl:text-[45px] md:text-[30px] text-[20px] text-center manrope font-[600] text-white">Ready to Fast-Track Your ROI? Reach Out Now!</p>
    <p class="xl:text-[20px] md:text-[18px] text-[16px] text-center manrope font-[400] text-[#D9D9D9]">Let's embark on this journey together. Contact us to schedule a consultation and take the first step towards a brighter, more profitable future. Your sustainable energy venture awaits the success it deserves. Join us now and be a part of the renewable revolution.</p>
    <div class="flex justify-center items-center">
      <a href="" class="py-4 md:px-[49px] px-[20px] hover:bg-[#B2EB4B] text-center manrope rounded-[10px] xl:text-[20px] md:text-[18px] text-[16px] text-white font-[500] bg-[#5BC773]">Take the First Step Towards Accelerated ROI Today!</a>
    </div>
   </div>   
</section>
