<div id="team" class="flex flex-col xl:gap-[96px] md:gap-[40px] gap-[20px] xl:py-[60px] md:py-[30px] py-[20px] md:px-[80px] 2xl:px-[700px] px-[20px]">
    <p class="text-center ibm-plex-sans xl:text-[48px] md:text-[30px] text-[20px] font-[700]">The Team</p>
    <div class="grid xl:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-[25px]">
        <div class="flex team py-[19px] px-[60px] flex-col gap-[14px] bg-[#fff]">
            <div class="flex justify-center items-center">
                <img src="./assets/images/mb 1.svg" alt="">
            </div>
            <div class="block">
                <div class="text-center xl:text-[16px] md:text-[14px] text-[13px] manrope font-[700]">Brian Munene </div>
                <div class="text-center xl:text-[14px] md:text-[12px] text-[12px] manrope font-[500]">Chief Conerstone</div>
            </div>
            <div class="text-center"><a href="https://www.linkedin.com/in/brian-munene-njeru?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fa-brands fa-linkedin text-[#0B1914] text-[24px]"></i></a></div>
        </div>
        <div class="flex team py-[19px] px-[60px] flex-col gap-[14px] bg-[#fff]">
            <div class="flex justify-center items-center">
                <img src="./assets/images/Karani.svg" alt="">
            </div>
            <div class="block">
                <div class="text-center xl:text-[16px] md:text-[14px] text-[13px] manrope font-[700]">Job Karani </div>
                <div class="text-center xl:text-[14px] md:text-[12px] text-[12px] manrope font-[500]">Chief Architech</div>
            </div>
            <div class="text-center"><a href="https://www.linkedin.com/in/job-nyambura?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fa-brands fa-linkedin text-[#0B1914] text-[24px]"></i></a></div>
        </div>
        <div class="flex team py-[19px] px-[60px] flex-col gap-[14px] bg-[#fff]">
            <div class="flex justify-center items-center">
                <img src="./assets/images/Louis.svg" alt="">
            </div>
            <div class="block">
                <div class="text-center xl:text-[16px] md:text-[14px] text-[13px] manrope font-[700]">Louis Wajeiya(OGW) </div>
                <div class="text-center xl:text-[14px] md:text-[12px] text-[12px] manrope font-[500]">Advisory Board</div>
            </div>
            <div class="text-center"><a href="https://www.linkedin.com/in/louiswajeiya?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fa-brands fa-linkedin text-[#0B1914] text-[24px]"></i></a></div>
        </div>
        <div class="flex team py-[19px] px-[60px] flex-col gap-[14px] bg-[#fff]">
            <div class="flex justify-center items-center">
                <img src="./assets/images/Chela.svg" alt="">
            </div>
            <div class="block">
                <div class="text-center xl:text-[16px] md:text-[14px] text-[13px] manrope font-[700]">Karen Chelangat </div>
                <div class="text-center text-[14px] manrope font-[500]">Advisory Board</div>
            </div>
            <div class="text-center"><a href="https://www.linkedin.com/in/karenchela?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fa-brands fa-linkedin text-[#0B1914] text-[24px]"></i></a></div>
        </div>
    </div>
</div>