<div id="requirements" class="flex flex-col md:gap-[96px] gap-[10px] md:py-[60px] py-[20px] md:px-[80px] 2xl:px-[700px] px-[20px]">
    <p class="text-center ibm-plex-sans xl:text-[48px] md:text-[30px] text-[20px] font-[700] ">How to Get Started</p>
    <div class="grid md:grid-cols-2 grid-cols-1 md:gap-0 gap-[40px]">
        <div class="flex flex-col gap-[16px] md:border-[#000] md:border-r-2 md:border-b-2 border-0 md:pr-[40px] pr-0 md:pb-[40px] pb-0">
            <p class="text-left text-[#5BC773] text-[36px] ibm-plex-sans font-[700]">01</p>
            <p class="text-left text-[#0B1914] ibm-plex-sans xl:text-[28px] md:text-[24px] text-[18x] font-[600]">Verify Eligibility</p>
            <p class="text-left xl:text-[18px] md:text-[17px] text-[16px] font-[400] manrope">Ensure your renewable energy project meets the criteria for I-REC issuance, including being located in a country that participates in the I-REC Standard system (Kenya is a new member).</p>
        </div>
        <div class="flex flex-col gap-[16px] md:border-[#000] md:border-b-2 border-0 md:pl-[40px] pl-0 md:pb-[40px] pb-0">
            <p class="text-left text-[#5BC773] text-[36px] ibm-plex-sans font-[700]">02</p>
            <p class="text-left text-[#0B1914] ibm-plex-sans xl:text-[28px] md:text-[24px] text-[18x] font-[600]">Register Your Project</p>
            <p class="text-left xl:text-[18px] md:text-[17px] text-[16px] font-[400] manrope">Work with us to get your project registered in the I-REC system.</p>
        </div>
        <div class="flex flex-col gap-[16px] md:border-[#000] md:border-r-2 border-0 md:pr-[40px] pr-0 md:pt-[40px] pt-0">
            <p class="text-left text-[#5BC773] text-[36px] ibm-plex-sans font-[700]">03</p>
            <p class="text-left text-[#0B1914] ibm-plex-sans xl:text-[28px] md:text-[24px] text-[18x] font-[600]">Record and Report</p>
            <p class="text-left xl:text-[18px] md:text-[17px] text-[16px] font-[400] manrope">We will help you regularly report your energy generation data and also help you get issued with I-RECs corresponding to your clean energy production.</p>
        </div>
        <div class="flex flex-col gap-[16px] md:border-[#000] border-0 md:pl-[40px] pl-0 md:pt-[40px] pt-0">
            <p class="text-left text-[#5BC773] text-[36px] ibm-plex-sans font-[700]">04</p>
            <p class="text-left text-[#0B1914] ibm-plex-sans xl:text-[28px] md:text-[24px] text-[18x] font-[600]">Sell Your I-RECs</p>
            <p class="text-left xl:text-[18px] md:text-[17px] text-[16px] font-[400] manrope">Engage with our platform to store, sell and retire your certificates.</p>
        </div>
    </div>
    <div class="flex justify-center md:mt-0 mt-[30px] items-center">
        <a href="" class="text-[16px] manrope font-[600] flex justify-center items-center animate-pulse gap-[10px] py-[16px] px-[60px] rounded-[10px] bg-[#0B1914] text-white hover:bg-[#5BC773]">Let’s Get Started</a>
    </div>
</div>